@charset "utf-8";
/* 全体に適用 */
body {
    font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
    box-sizing: border-box; /*padding,margin*/
    padding: 0 10vw; /*全体を左右10vwずつ空けて中央に配置する*/
}

header {
    width: 100%;
    /* text-align: center; */
}

/* タイトル部分 */
.title {
    background-color: #ff8c00; /*背景色指定*/
    font-size: 1em; /*フォントサイズ*/
    text-align: center; /*左右中央*/
    height: 8vh; /*高さ指定*/
    line-height: 8vh; /*上下中央*/
    width: 80vw;
}

/* 選択エリア */
.selectkind {
    height: 30px;
    margin-top: 30px;
    width: 20vw;
    background-color: #ff8c00;
}

/* ロゴエリア */
.logoarea {
    text-align: center; /*左右中央*/
    width: 100%; /*ロゴイメージの横幅指定するため*/
}

.imglogo {
    height: 10vh; /*ロゴの縮尺を変えず、ロゴのサイズを変更する*/
}

/* 予想数字部分 */
.forecastarea {
    display: flex; /*要素を横並びにする*/
    margin-bottom: 5vh; /*数字表示部分との区別のため*/
}

.forecastnumber {
    margin: 0 auto; /*左右中央*/
    border: solid 3px #ff8c00; /*枠線をつける*/
    padding: 3vh; /*数字と枠線の間にスペースを作る*/
}

/* 数字表示エリア */
.numberarea {
    display: flex;
    margin-bottom: 5vh; /*予想開始ボタン部分との区別のため*/
}

.line {
    margin: 0 auto;
    text-align: center;
}

.randomselect {
    border: solid 5px #ff8c00;
    padding: 5px;
}

.number {
    margin: 1vh auto;
}

/* 予想開始ボタン部分 */
.btnarea {
    text-align: center;
    width: 100%;
}

.btn {
    width: 50%;
    background-color: #ff8c00;
    height: 10vh;
    font-size: 1em;
}